#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 5px;
}

.subtitle {
  background-color: antiquewhite;
  padding: 15px;
}

.bodyTextContainer {
  display: flex;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  align-items: center;
}

.bodyText {
  padding: 25px;
}
.card {
  min-width: 3rem;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
}

.checkoutLabels {
  padding-top: 20px;
  padding-bottom: 10px;
}

.submit {
  margin: 20px;
}

img {
  height: 30rem;
}

.locations-container {
  border: 1px solid black;
  justify-items: center;
  padding: 25px;
  padding-right: 35px;
  display: inline-block;
}

.dropdown-toggle {
  margin-right: 20px;
}
