#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.titleCard {
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 5px;
}

.section {
  background-color: antiquewhite;
}

.navbar {
  background-color: antiquewhite;
}

.bodyTextContainer {
  display: flex;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
}
.card {
  min-width: 3rem;
  width: 100%;
}

.form-container {
  display: flex;
  align-items: center;
}

.checkoutLabels {
  padding-top: 20px;
  padding-bottom: 10px;
}

.submit {
  margin: 20px;
}

img {
  height: 30rem;
}
