#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 5px;
}

.subtitle {
  background-color: antiquewhite;
  padding: 15px;
}

.bodyTextContainer {
  display: flex;
  padding: 15px;
  text-align: center;
  border: 1px solid black;
  align-items: center;
}

.bodyText {
  padding: 25px;
  line-height: 2.5;
}
.card {
  min-width: 3rem;
  width: 100%;
  padding-top: 25px;
}

.form-container {
  display: flex;
  align-items: center;
}

.checkoutLabels {
  padding-top: 20px;
  padding-bottom: 10px;
}

.submit {
  margin: 20px;
}

.card-img-top {
  border-radius: 25px;
}

img {
  height: 30rem;
  min-height: auto;
  max-width: 35rem;
  min-width: auto;
  align-self: center;
  border: 0.3px solid grey;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1),
    0 15px 20px rgba(0, 0, 0, 0.05);
}

.locations-container {
  border: 1px solid black;
  border-radius: 15px;
  justify-items: center;
  padding: 25px;
  padding-right: 25px;
  display: inline-block;
}

.dropdown-toggle {
  margin-right: 20px;
}

.locations-list {
  display: flex;
  list-style-type: none;
  list-style-position: inside;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.location {
  flex: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 3px;
  text-align: center;
  border: solid black 1px;
  border-radius: 25%;
}

.alert {
  position: sticky;
  top: 0;
  z-index: 50000;
}

.quantityBtn {
  border: 0.1px solid grey;
}

.quantityBtn:hover {
  outline: 0.5px solid grey !important;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1),
    0 15px 20px rgba(0, 0, 0, 0.05);
}
